<!-- <div class="col-sm-3">
  <ul class="list-group">
    <%#= render_activities @activities %>
    <%#= @activities.inspect %>
  </ul>
</div>
 -->
 <div class="col-sm-3">
  <%= render_activities @activities %>
</div>
